.DS_Store
.turbo
.idea
.env
.cache
*.log
*.local
node_modules
dist
dist-ssr
server/dist
public/dist
public/build-info.json
lerna-debug.log
/packages/lib/box-forge/test/gen/**
/packages/studio/boxes/src/**
/packages/studio/adapters/src/index.ts
/packages/app/studio/public/build-info.json
/packages/app/localhost.pem
/packages/app/localhost-key.pem
localhost*.pem
